<% include partial/header %>

<h1 class='context'>Category: <%= page.name %></h1>

<% if (page.content.length === 0) { %>

  <article>
    <p>No posts found</p>
  </article>

<% } else { %>

  <% page.content.forEach(function(post) { %>
    <article>
      <hgroup>
      <h1><a href='<%= post.url %>'><%= post.title %></a></h1>
        <time datetime='<%= post.date.datetime %>'><%= post.date.pretty %></time>
      </hgroup>

      <%- post.excerpt %>

    </article>
  <% }); %>

<% } %>

<% include partial/next-previous %>

<% include partial/footer %>
