<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title><%= wit.config.site.name %></title>
    <description><%= wit.config.site.tagLine %> RSS Feed</description>
    <link><%= wit.config.site.fqdn %></link>
    <lastBuildDate><%= pubDate %></lastBuildDate>
    <pubDate><%= pubDate %></pubDate>

    <% posts.forEach(function(post) { %>
    <item>
      <title><%= post.title %></title>
      <description><%= post.excerpt %></description>
      <link><%= wit.config.site.fqdn %><%= post.url %></link>
      <pubDate><%= post.date.datetime %></pubDate>
    </item>
    <% });%>

  </channel>
</rss>
