      </main>

      <!-- sidebar -->
      <aside>
        <section class='categories'>
          <h3>Categories</h3>
          <ul>
            <% Object.keys(categories).sort().forEach(function(category) { %>
            <li><a href='/blog/category/<%= category %>'><%= category %></a></li>
            <% }); %>
          </ul>
        </section>

        <section class='tags'>
          <h3>Tags</h3>
          <ul>
            <% Object.keys(tags).sort().forEach(function(tag) { %>
            <li><a href='/blog/tag/<%= tag %>'><%= tag %></a></li>
            <% }); %>
          </ul>
        </section>

        <section class='archive'>
          <h3>Archive</h3>
          <ul>
            <% Object.keys(archive).sort().forEach(function(year) { %>
            <li><a href='/blog/archive/<%= year %>'><%= year %></a></li>
            <% }); %>
          </ul>
        </section>
      </aside>

      <script src='/javascripts/vendor/jquery-1.11.0.min.js'></script>
      <script src='/javascripts/vendor/hogan.min.js'></script>
      <script src='/javascripts/lib/search.js'></script>
      <script src='/javascripts/main.js'></script>

      <% if (env === 'production') { %>
      <!-- @todo: put your Google Analytics code here -->
      <% } %>
    </div>
  </body>
</html>
