<!DOCTYPE html>
<html>
  <head>
    <title><%= page.title %> | wit-bootstrap</title>
    <meta charset='utf-8'>
    <meta name='viewport'  content='width=device-width'>
    <meta name='author'    content='<%= wit.params.author %>'>
    <% if (page.description) {%>
    <meta name='description' content='<%= page.description %>'>
    <% } %>
    <link rel='alternate'  type='application/rss+xml' title='RSS Feed' href='/feed'>
    <% if (page.url) { %>
    <link rel='canonical'  href='<%= wit.params.fqdn %><%= page.url %>'>
    <% } %>
    <link rel='stylesheet' href='/stylesheets/app.css?build=<%= wit.params.appStart %>'>
  </head>

  <body class='<%= page.name %>'>

    <header id='masthead'>
      <h1><a href='/'><%= wit.params.name %></a>
        <span><%= wit.params.tagLine %></span>
      </h1>

      <nav>
        <a href='/about'>About</a>
        <a href='/blog'>Blog</a>

        <form method='get' action='/blog/search'>
          <input id='search' type='search' placeholder='search' name='q'>
        </form>
      </nav>
    </header>

    <main>
