<!DOCTYPE html>
<html class='no-js'>
  <head>
    <title><%= page.title %></title>
    <meta charset='utf-8'>
    <meta name='author'    content='<%= wit.params.author %>'>
    <% if (page.description) {%>
    <meta name='description' content='<%= page.description %>'>
    <% } %>
    <meta name='generator' content='wit-cms'>
    <link rel='alternate'  type='application/rss+xml' title='RSS Feed' href='/feed'>
    <% if (page.url) { %>
    <link rel='canonical'  href='<%= wit.params.fqdn %><%= page.url %>'>
    <% } %>
    <link rel='stylesheet' href='/stylesheets/normalize.css'>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>

  <body class='<%= page.title || '' %>'>
    <div id='container'>

      <header id='masthead'>
        <span><%= wit.params.tagLine %></span>
        <h1><a href='/'><%= wit.params.name%></a></h1>

        <nav>
          <a href='/about'>About</a>
          <a href='/'>Blog</a>
          <a href='/contact'>Contact</a>

          <form method='get' action='/blog/search'>
            <input id='search' type='search' placeholder='search' name='q'>
          </form>
        </nav>
      </header>

      <main>
